ws_sesi/marcelo.wolff--Filiais1.0.0.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="https://service.fiesc.com.br/corporativo/filiais" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.wso2.org/dataservice">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://service.fiesc.com.br/corporativo/filiais">
         <xs:element name="consultarFilial">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="cnpjEmpresa" nillable="true" type="xs:string"/>
                  <xs:element name="cnpjFilial" nillable="true" type="xs:string"/>
                  <xs:element name="busca" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Filiais" type="ns0:Filiais"/>
         <xs:complexType name="Filiais">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Filial" type="ns0:Filial"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Filial">
            <xs:sequence>
               <xs:element name="codigo" nillable="true" type="xs:string"/>
               <xs:element name="nomeEmpresa" nillable="true" type="xs:string"/>
               <xs:element name="nomeFantasiaEmpresa" nillable="true" type="xs:string"/>
               <xs:element name="cnpjEmpresa" nillable="true" type="xs:string"/>
               <xs:element name="nomeFilial" nillable="true" type="xs:string"/>
               <xs:element name="razaoSocialFilial" nillable="true" type="xs:string"/>
               <xs:element name="nomeFantasiaFilial" nillable="true" type="xs:string"/>
               <xs:element name="cnpjFilial" nillable="true" type="xs:string"/>
               <xs:element name="tipoLogradouro" nillable="true" type="xs:string"/>
               <xs:element name="logradouro" nillable="true" type="xs:string"/>
               <xs:element name="numero" nillable="true" type="xs:string"/>
               <xs:element name="complemento" nillable="true" type="xs:string"/>
               <xs:element name="bairro" nillable="true" type="xs:string"/>
               <xs:element name="cep" nillable="true" type="xs:string"/>
               <xs:element name="municipio" nillable="true" type="xs:string"/>
               <xs:element name="estado" nillable="true" type="xs:string"/>
               <xs:element name="pais" nillable="true" type="xs:string"/>
               <xs:element name="crc" nillable="true" type="xs:string"/>
               <xs:element name="orgaoRegistro" nillable="true" type="xs:string"/>
               <xs:element name="correioEletronico" nillable="true" type="xs:string"/>
               <xs:element name="inscricaoMunicipal" nillable="true" type="xs:string"/>
               <xs:element name="inscricaoEstadual" nillable="true" type="xs:string"/>
               <xs:element name="inscricaoEstadualSubstituto" nillable="true" type="xs:string"/>
               <xs:element name="ddd" nillable="true" type="xs:string"/>
               <xs:element name="telefone" nillable="true" type="xs:string"/>
               <xs:element name="telefone2" nillable="true" type="xs:string"/>
               <xs:element name="telefone3" nillable="true" type="xs:string"/>
               <xs:element name="fax" nillable="true" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
         <xs:element name="DataServiceFault">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="current_params" type="xs:string"/>
                  <xs:element name="current_request_name" type="xs:string"/>
                  <xs:element name="nested_exception" type="xs:string"/>
                  <xs:element name="source_data_service">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="location" type="xs:string"/>
                           <xs:element name="default_namespace" type="xs:string"/>
                           <xs:element name="description" type="xs:string"/>
                           <xs:element name="data_service_name" type="xs:string"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ds_code" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="REQUEST_STATUS" type="xs:string"/>
         <xs:element name="DATA_SERVICE_RESPONSE">
            <xs:complexType>
               <xs:sequence>
                  <xs:any minOccurs="0"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
  </wsdl:types>
  <wsdl:message name="DataServiceFault">
    <wsdl:part name="parameters" element="ns1:DataServiceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarFilialRequest">
    <wsdl:part name="parameters" element="ns0:consultarFilial">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarFilialResponse">
    <wsdl:part name="parameters" element="ns0:Filiais">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FiliaisProxyServicePortType">
    <wsdl:operation name="consultarFilial">
      <wsdl:input message="ns1:consultarFilialRequest" wsaw:Action="urn:consultarFilial">
    </wsdl:input>
      <wsdl:output message="ns1:consultarFilialResponse" wsaw:Action="urn:consultarFilialResponse">
    </wsdl:output>
      <wsdl:fault name="DataServiceFault" message="ns1:DataServiceFault" wsaw:Action="urn:consultarFilialDataServiceFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FiliaisProxyServiceSoap12Binding" type="ns1:FiliaisProxyServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarFilial">
      <soap12:operation soapAction="urn:consultarFilial" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap12:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FiliaisProxyServiceHttpBinding" type="ns1:FiliaisProxyServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="consultarFilial">
      <http:operation location="consultarFilial"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FiliaisProxyServiceSoap11Binding" type="ns1:FiliaisProxyServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarFilial">
      <soap:operation soapAction="urn:consultarFilial" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataServiceFault">
        <soap:fault name="DataServiceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FiliaisProxyService">
    <wsdl:port name="FiliaisProxyServiceHttpSoap11Endpoint" binding="ns1:FiliaisProxyServiceSoap11Binding">
      <soap:address location="http://services.fiesc.com.br/filiais/1.0.0"/>
    </wsdl:port>
    <wsdl:port name="FiliaisProxyServiceHttpSoap12Endpoint" binding="ns1:FiliaisProxyServiceSoap12Binding">
      <soap12:address location="http://services.fiesc.com.br/filiais/1.0.0"/>
    </wsdl:port>
    <wsdl:port name="FiliaisProxyServiceHttpEndpoint" binding="ns1:FiliaisProxyServiceHttpBinding">
      <http:address location="http://services.fiesc.com.br/filiais/1.0.0"/>
    </wsdl:port>
    <wsdl:port name="FiliaisProxyServiceHttpsSoap11Endpoint" binding="ns1:FiliaisProxyServiceSoap11Binding">
      <soap:address location="https://services.fiesc.com.br/filiais/1.0.0"/>
    </wsdl:port>
    <wsdl:port name="FiliaisProxyServiceHttpsEndpoint" binding="ns1:FiliaisProxyServiceHttpBinding">
      <http:address location="https://services.fiesc.com.br/filiais/1.0.0"/>
    </wsdl:port>
    <wsdl:port name="FiliaisProxyServiceHttpsSoap12Endpoint" binding="ns1:FiliaisProxyServiceSoap12Binding">
      <soap12:address location="https://services.fiesc.com.br/filiais/1.0.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>